body{

    background-color: #121212;
    color: white;
    font-family: Arial,sans-serif;

}

.navbar{

    padding: 20px;
    

}

.nav-link{
    text-decoration: none;
    color: white;
    padding: 20px;
    

}
.nav-link:hover{

background-color: #555555;
}

.hero{
background: url("https://t4.ftcdn.net/jpg/03/54/96/25/360_F_354962549_aw0wHY8P1OEA0ykbwimnm7fJGtKfc1f3.jpg") no-repeat center/cover;
padding: 100px;
text-align: center;


}
.products-grid{
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
     /* how many columns we taking */

}
.products{
    text-align: center;
    margin-bottom: 20px;
}
.product-card{
    
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
   
    box-sizing: border-box;
    
}

.product-card p{
    font-size: 14px;
    
}
.product-card img{
    max-width: 100%;
    border-radius: 8px;
}
.product-card:hover{
    box-shadow: 0px 0px 10px 10px #555555;
    
}
/* h2,h3 siblings saying they are different */
/* h2 h3 children saying they are in same */
.product-card h3{
    margin: 15px 0 10px;
}
h2,h3{
    text-align: center;
    margin: 15px 0 10px;
}
.contact{
    
    padding: 50px 0;
    background-color: #1f1f1f;
    color: #e0e0e0;
    margin: auto;    
    

}

.contact form{

    margin: 50px;
    

}
.contact label{
    display: block;
    margin-bottom: 5px;

}
.contact input,
.contact textarea{
    
    width: 90%;
    margin-bottom: 15px; 
    background-color:#333333;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white
}
.contact button{
    padding: 10px 20px; 
    background-color: #444444;
    border: none;
    border-radius: 5px;
    color: #e0e0e0;
    cursor: pointer;

}
.contact button:hover{
   background-color: #555555;

}


.footer{
    text-align: center;
    background-color: #1f1f1f;
    padding: 10px;

}
/* Media query for tab and phone page size say in phone and tab  say in one page one or two product */
@media(max-width: 768px){
    .products-grid{
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
       /* how many columns we taking */
  
  }
  
}
